* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .footer h2{
    font-size:13px;
    font-family: 'Palatino', 'Century Gothic';
  }
  /* Header/logo Title */
  .header {
    padding: 20px;
    text-align: center;
    background: #1a5d86;
    color: white;
    font-size: 35px;
    position: relative;
  }
  
  /* Increase the font size of the heading */
  .header{
    font-size: 30px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 60px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0d3046 ;
    color: rgb(211, 201, 201);
    text-align: center;
  }
  
 .stations-list {
    margin: 0 0 32px 0;
    padding: 0;
    list-style: none;
    text-indent: 0;
    position: relative;
}

.stations__station {
  margin: -1px 0 0 0;
  position: relative;
  transition: .35s;
  padding: 13px 64px 16px 192px;
}

.container {

  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
  justify-items: start;

}

.item{
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
  background-color: rgb(255, 255, 255);
}

.border{
  border: 1px solid rgb(133, 132, 132);
  border-radius: 5px;
  padding: 8px;
  transition: 0.3s;
  font-size: 16px;
  margin: 0px 0 0 0;
}

.btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.border:hover {
  background-color: #c8d7e0;
  color: #0d3046;
}

.responsive {
  width: 100%;
  max-width: 100px;
  height: auto;
}
.responsiveRadioLogo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.linkText{
  font-size: 13px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.playStyle{
border: 1px solid rgb(133, 132, 132);
border-radius: 5px;
padding: 8px;
margin: 0px 0 0 0;
}

p{
  font-size: 1.5rem;
  cursor: pointer;
}
p::after{
  display: inline-block;
  content: attr(data-file);
  
  font-size: 1.5rem;
  margin-left: 1rem;
  color: rgba(243, 23, 23, 0.5);
}

.button_play {
  background-color: #169454;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  
}

.button_pause {
  background-color: #585858;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;

}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size:medium;
  font-weight: 500px;
  color: #edb424;
}